@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-screen;
}

body {
  @apply h-screen;
  @apply text-gray-200 bg-mirage-500;
  @apply text-2xs sm:text-xs md:text-sm lg:text-base;
  background-image: url('assets/page-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: top;
}

div,
header,
main {
  @apply select-none;
}

p {
  @apply select-text;
}
